* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

input[type=email], input[type=password], input[type=text] {
  padding: 0.2vw;
}

fieldset {
  border-radius: 10px;
}

legend {
  background: #fff;
  text-align: center;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.btn {
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
}

.btn-nav:hover {
  box-shadow: 4px 4px 2px #c0c0c0;
  background: none;
}
.btn-nav.active {
  background: #c0c0c0;
}

.btn-valid {
  background: rgba(0, 136, 0, 0.5);
}
.btn-valid:hover {
  box-shadow: 2px 2px 2px #008800;
}

.btn-cancel {
  background: rgba(255, 136, 0, 0.5);
}
.btn-cancel:hover {
  box-shadow: 2px 2px 2px #ff8800;
}

header {
  padding: 1vh 0;
  border-bottom: 2px solid #000;
  margin-bottom: 0.5%;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header nav #logo-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}
header nav #btn-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  position: relative;
}
main #home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #home-page.hidden {
  display: none;
}
main #home-page #logo-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main #home-page .btn:hover {
  box-shadow: 4px 4px 2px #c0c0c0;
  background: none;
}
main #home-page .btn.active {
  background: #c0c0c0;
}
main #login-form, main #register-form, main #deconnexion-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #login-form fieldset, main #register-form fieldset, main #deconnexion-form fieldset {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
}
main #login-form fieldset legend, main #register-form fieldset legend, main #deconnexion-form fieldset legend {
  text-align: center;
  padding: 0.5vw;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
  border-radius: 50px;
}
main #login-form fieldset .btn-close, main #register-form fieldset .btn-close, main #deconnexion-form fieldset .btn-close {
  cursor: pointer;
  display: flex;
  padding: 0;
}
main #login-form fieldset .response, main #register-form fieldset .response, main #deconnexion-form fieldset .response {
  padding: 0.3rem 0;
  border-radius: 50px;
  width: 100%;
  text-align: center;
}
main #login-form fieldset .response.success, main #register-form fieldset .response.success, main #deconnexion-form fieldset .response.success {
  background: #00ff00;
}
main #login-form fieldset .response.error, main #register-form fieldset .response.error, main #deconnexion-form fieldset .response.error {
  background: #ff0000;
  color: #fff;
}
main #login-form fieldset .element-form, main #register-form fieldset .element-form, main #deconnexion-form fieldset .element-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #login-form fieldset .element-form label, main #register-form fieldset .element-form label, main #deconnexion-form fieldset .element-form label {
  margin-right: 0.5vw;
}
main #login-form fieldset .button-content, main #register-form fieldset .button-content, main #deconnexion-form fieldset .button-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  align-items: center;
}
main #sinistre-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
main #sinistre-content.hidden {
  display: none;
}
main #sinistre-content #form-info {
  display: flex;
  margin-right: 1%;
  flex-direction: column;
}
main #sinistre-content #form-info form {
  display: flex;
  justify-content: center;
}
main #sinistre-content #form-info form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main #sinistre-content #form-info form fieldset legend {
  padding: 0.5vh;
}
main #sinistre-content #form-info form fieldset .form-element .btn-file {
  padding: 0.5vh;
  box-shadow: 2px 2px 2px #c0c0c0;
}
main #sinistre-content #form-info form fieldset .form-element input[type=file] {
  display: none;
}
main #sinistre-content #form-info form fieldset .button-content {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
main #sinistre-content #form-info #depanneur-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 50vh;
  overflow: scroll;
}
main #sinistre-content #form-info #depanneur-content::-webkit-scrollbar {
  background: #c0c0c0;
  width: 0.5vw;
  height: 0;
  border-radius: 50px;
}
main #sinistre-content #form-info #depanneur-content::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 50px;
}
main #sinistre-content #form-info #depanneur-content legend {
  padding: 0.5vh;
}
main #sinistre-content #form-info #depanneur-content #view-depanneur {
  border-bottom: 1px solid #000;
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #sinistre-content #form-info #depanneur-content #view-depanneur .name {
  display: inline-flex;
}
main #sinistre-content #form-info #depanneur-content #view-depanneur .address {
  display: inline-flex;
}
main #sinistre-content #picture-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: scroll;
}
main #sinistre-content #picture-content::-webkit-scrollbar {
  background: #c0c0c0;
  width: 0.5vw;
  height: 0;
  border-radius: 50px;
}
main #sinistre-content #picture-content::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 50px;
}
main #sinistre-content #picture-content legend {
  font-size: large;
  padding: 0.5vh;
}
main #map {
  display: none;
}
main #sinistre-response {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
  padding: 1rem;
  display: block;
}
main #sinistre-response.hidden {
  display: none;
}

@media screen and (min-width: 378px) {
  .btn {
    padding: 1vh;
  }

  header {
    width: 99.1vw;
  }
  header nav #logo-header svg {
    width: 6vw;
  }
  header nav #logo-header h1 {
    font-size: 4vw;
  }
  header nav #btn-nav {
    width: 50%;
  }
  header nav #btn-nav button {
    font-size: 3vw;
  }

  main {
    height: 92.5vh;
  }
  main #home-page #logo-home svg {
    width: 20vw;
  }
  main #home-page #logo-home h1 {
    font-size: 10vw;
  }
  main #home-page .btn {
    font-size: 5vw;
  }
  main #login-form .btn-close, main #register-form .btn-close, main #deconnexion-form .btn-close {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
  }
  main #login-form {
    width: 80%;
  }
  main #login-form fieldset {
    height: 25vh;
  }
  main #register-form {
    width: 90%;
  }
  main #register-form fieldset {
    height: 40vh;
  }
  main #deconnexion-form {
    width: 90%;
  }
  main #deconnexion-form fieldset {
    height: 15vh;
  }
  main #sinistre-content #form-info {
    width: 50%;
  }
  main #sinistre-content #form-info form fieldset {
    width: 100%;
    height: 10vh;
  }
  main #sinistre-content #form-info form fieldset .btn {
    padding: 0.2vh;
  }
  main #sinistre-content #form-info #depanneur-content {
    min-height: 8vh;
    max-height: 60vh;
  }
  main #sinistre-content #picture-content {
    width: 50%;
    min-height: 20vh;
    height: 82vh;
  }
  main #sinistre-content #picture-content img {
    max-width: 40%;
    max-height: 20%;
  }
}
@media screen and (min-width: 1280px) {
  header {
    width: 100vw;
  }
  header nav #logo-header svg {
    width: 2vw;
  }
  header nav #logo-header h1 {
    font-size: 2vw;
  }
  header nav #btn-nav button {
    font-size: 1vw;
  }

  main {
    height: 92vh;
  }
  main #home-page #logo-home svg {
    width: 15rem;
  }
  main #home-page #logo-home h1 {
    font-size: 5vw;
  }
  main #home-page .btn {
    font-size: 2vw;
  }
  main #login-form .btn-close, main #register-form .btn-close, main #deconnexion-form .btn-close {
    top: 2rem;
  }
  main #login-form {
    width: 22.2%;
  }
  main #login-form fieldset {
    width: 20vw;
  }
  main #register-form {
    width: 25%;
  }
  main #register-form fieldset {
    height: 35vh;
  }
  main #deconnexion-form {
    width: 20%;
  }
  main #sinistre-content {
    margin: 0 1%;
  }
  main #sinistre-content #form-info form {
    width: 100%;
  }
  main #sinistre-content #form-info form fieldset {
    width: 15vw;
  }
  main #sinistre-content #form-info #depanneur-content {
    margin-top: 1vh;
  }
  main #sinistre-content #pictures-content {
    padding: 0.5vh;
    width: 80vw;
    min-height: 20vh;
    max-height: 90vh;
  }
}

/*# sourceMappingURL=style.css.map */
